@tailwind base;
@tailwind components;
@tailwind utilities;

.header-text {
  font-size: clamp(2.2rem, 4vw, 3.5rem);
  line-height: clamp(2.5rem, 3vw, 3.625rem);
  letter-spacing: 0.125em;
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.header-title-text {
  animation-name: scale-in;
  animation-duration: 1s;
}
@keyframes scale-in {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}

.header-btn {
  animation-name: opacity-in;
  animation-duration: 3s;
}
@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
